@font-face {
  font-family: 'Conv_mmrtextb';
  src: url('../fonts/mmrtextb.eot');
  src: url('../fonts/mmrtextb.woff') format('woff'), url('../fonts/mmrtextb.ttf') format('truetype'), url('../fonts/mmrtextb.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'social';
  src: url('../fonts/social/social.eot?s4u6nn');
  src: url('../fonts/social/social.eot?s4u6nn#iefix') format('embedded-opentype'), url('../fonts/social/social.ttf?s4u6nn') format('truetype'), url('../fonts/social/social.woff?s4u6nn') format('woff'), url('../fonts/social/social.svg?s4u6nn#social') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-heart-o:before {
  content: "\e910";
}
.icon-heart:before {
  content: "\e911";
}
.icon-UMzv9xx17F:before {
  content: "\e90e";
}
.icon-kEBsWxBUVE:before {
  content: "\e90f";
}
.icon-ArBukpLo:before {
  content: "\e900";
}
.icon-cXu7AR3rfw:before {
  content: "\e901";
}
.icon-EIAXh26hsl:before {
  content: "\e902";
}
.icon-HKTUnlT9sr:before {
  content: "\e903";
}
.icon-ipIXFU8DEO:before {
  content: "\e904";
}
.icon-LfRw3wjRQG:before {
  content: "\e905";
}
.icon-LhMNypjf9s:before {
  content: "\e906";
}
.icon-Pa3w7LqUwC:before {
  content: "\e907";
}
.icon-r8COw2Ahsn:before {
  content: "\e908";
}
.icon-raEx3q0gKJ:before {
  content: "\e909";
}
.icon-thxulzOVbU:before {
  content: "\e90a";
}
.icon-vyKaH0adjA:before {
  content: "\e90b";
}
.icon-WAqf3x8n3I:before {
  content: "\e90c";
}
.icon-xku51hQ7C4:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook2:before {
  content: "\ea91";
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  overflow: hidden;
  position: relative;
}
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #010025;
  font-weight: normal;
}
html {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #010025;
}
a {
  color: #010025;
}
a:hover {
  color: #000;
}
.button {
  display: inline-block;
  padding: 5px 10px;
  color: #000;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: normal;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
}
.catalog_search .row {
  border-bottom: 1px solid #c1c1c1;
}
.catalog_search form input {
  border: 1px solid #7f7f7f;
  border-radius: 0px;
  height: 30px;
  color: #828282;
}
.catalog_search form select {
  border: 1px solid #7f7f7f;
  border-radius: 0px;
  height: 30px;
  color: #828282;
}
.catalog_search_form_button {
  text-align: center;
  padding-bottom: 40px;
}
.catalog_search_form_button button {
  font-size: 18px;
  font-weight: bold;
  border-radius: 0px;
  text-transform: uppercase;
  background-color: #089abd;
  border: none;
  padding: 12px 30px;
}
.catalog_search_form_tabs {
  margin-bottom: 35px;
}
.catalog_search_form_tabs span {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-right: 65px;
}
.catalog_search_form_tabs span.active {
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, black), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, black 15%, rgba(255, 255, 255, 0) 0%);
  background-image: -o-linear-gradient(left, black 15%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to right, black 15%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 13px 1px;
  background-repeat: repeat-x;
}
.catalog_search_form_tabs span:hover {
  cursor: pointer;
}
.form_group_select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}
.form_group_select select {
  width: 265px;
}
.form_group_input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}
.form_group_input input {
  width: 115px;
  padding-left: 8px;
}
.form_group_input h6 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
  color: #000;
}
.form_group_input .input_block {
  width: 265px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form_group_input .input_block_short {
  width: 115px;
}
.form_group_input_checkbox input {
  width: 115px;
  padding-left: 8px;
}
.form_group_input_checkbox h6 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
  color: #000;
  margin-top: -10px;
}
.form_group_input_checkbox .input_block {
  width: 265px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form_block_full {
  display: none;
}
.form_group_input_string {
  width: 265px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.form_group_input_string h6 {
  display: inline-block;
}
.form_group_checkbox {
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form_group_checkbox .checkbox_grop {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.form_group_checkbox .checkbox_grop li {
  vertical-align: top;
  line-height: 1em;
  margin-bottom: 15px;
}
.form_group_checkbox .checkbox_grop li span {
  display: inline-block;
  margin-left: 5px;
  height: 100%;
  vertical-align: top;
  color: #010101;
}
input[type=checkbox].css-checkbox {
  display: none;
}
input[type=checkbox].css-checkbox + label.css-label {
  padding: 0;
  margin: 0;
  min-height: 15px;
  width: 15px;
  display: inline-block;
  line-height: 0;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -16px;
}
label.css-label {
  background-image: url(../images/mark.png);
}
.catalog_search_control_list_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 15px;
  padding-top: 30px;
  margin-bottom: 55px;
}
.catalog_search_control_list_block h5 {
  font-size: 18px;
  display: inline-block;
  color: #818080;
  margin: 0;
  margin-right: 12px;
}
.catalog_search_control_list_block ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
}
.catalog_search_control_list_block ul li {
  font-size: 18px;
  color: #363664;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: top;
  line-height: 1em;
}
.header_navbar {
  margin: 0;
  padding-left: 0;
  padding-top: 55px;
}
.header_navbar .header_nav {
  text-align: justify;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
.header_navbar .header_nav > li {
  display: inline-block;
}
.header_navbar .header_nav > li > a {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 0 17px;
  font-size: 14px;
  color: #bfc0c1;
}
.header_navbar .header_nav > li > a:hover {
  background: none;
  color: #010025;
  text-decoration: none;
  border-bottom: 2px solid #010025;
}
.header_navbar .header_nav > li > a:focus {
  text-decoration: none;
}
.header_navbar .header_nav .active a {
  color: #010025;
  border-bottom: 2px solid #010025;
}
.header_navbar .header_nav:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.header_icon {
  padding-top: 35px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header_icon .dropdown {
  display: inline-block;
  padding-top: 5px;
}
.header_icon .dropdown > a:hover {
  color: #010025;
}
.header_icon .dropdown .dropdown-menu {
  min-width: 50px;
  background-color: #010025;
  margin: 0;
  border-radius: 0;
}
.header_icon .dropdown .dropdown-menu > li {
  display: block;
}
.header_icon .dropdown .dropdown-menu > li > a {
  padding: 0 4px;
  margin: 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}
.header_icon .dropdown .dropdown-menu > li > a > i {
  display: inline-block;
  margin-right: 5px;
}
.header_icon .dropdown .dropdown-menu > li > a span {
  display: inline-block;
}
.header_icon .dropdown .dropdown-menu > li > a .bg-esp {
  width: 14px;
  height: 16px;
  background: url('../images/css_sprites2.png') -10px -6px;
}
.header_icon .dropdown .dropdown-menu > li > a .bg-ru {
  width: 14px;
  height: 16px;
  background: url('../images/css_sprites2.png') -10px -40px;
}
.header_icon .dropdown .dropdown-menu > li > a .bg-us {
  width: 14px;
  height: 16px;
  background: url('../images/css_sprites2.png') -10px -74px;
}
.header_icon .dropdown .dropdown-menu > li > a:hover {
  color: #010025;
}
.header_icon_block {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header_icon_block li {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.header_icon_block li > a {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-indent: -10000px;
}
.header_icon_block .bg-tg {
  background: url('../images/css_sprites.png') -61px -10px;
}
.header_icon_block .bg-v {
  background: url('../images/css_sprites.png') -10px -10px;
}
.header_icon_block .bg-wu {
  background: url('../images/css_sprites.png') -113px -10px;
}
.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card-image img {
  display: block;
  width: 100%;
}
.header_short {
  background-color: #fbfbfb;
}
.header_short .row {
  border-bottom: 1px solid #a6a6b3;
}
.header_logo a {
  display: inline-block;
  padding-top: 8px;
  height: 101px;
  width: 122px;
}
.header_logo a span {
  display: inline-block;
  text-indent: -10000px;
}
.header_contacts {
  padding: 50px 0 0 15px;
  font-weight: bold;
}
.promo_map {
  position: relative;
  z-index: 1;
  background: url(../images/bg_top2.png) top center no-repeat;
  background-size: cover;
}
.promo_map_header h1 {
  font-size: 36px;
  font-family: 'Conv_mmrtextb', Myanmar Text, sans-serif;
  text-align: center;
}
.promo_map_header h1 em {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.promo_map_header h1 span {
  display: block;
  font-family: Myriad Pro, sans-serif;
}
.main_separator {
  background: url(../images/line_separator.png) bottom center no-repeat;
}
.map_block {
  text-align: center;
}
.map_product {
  margin-bottom: 35px;
}
.map_product > h3 {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 25px;
}
.map_product > a {
  text-transform: uppercase;
  text-decoration: underline;
}
.map_product_block_item {
  width: 165px;
  height: 133px;
  margin-bottom: 23px;
  position: relative;
  cursor: pointer;
}
.map_product_block_item > img {
  width: 100%;
  height: 100%;
}
.map_product_block_item_price {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fffcfc;
  padding-left: 10px;
  text-transform: uppercase;
  background: rgba(0, 160, 198, 0.9);
  font-size: 0px;
}
.map_product_block_item_price > span {
  display: inline-block;
  font-size: 14px;
}
.map_product_block_item_price .price {
  padding: 0 6px;
}
.features_main {
  padding: 90px 0;
  background: url(../images/line_separator.png) bottom center no-repeat;
}
.features_main_header {
  margin-bottom: 80px;
}
.features_main_header h4 {
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.features_main_items {
  padding-bottom: 44px;
}
.features_main_items_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.features_main_items_block span {
  width: 92px;
  height: 83px;
  display: inline-block;
  border: 1px solid #a8a7a7;
  padding-top: 5px;
  padding-left: 10px;
  margin-right: 16px;
}
.features_main_items_block i {
  font-size: 70px;
}
.features_main_item {
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: underline;
}
.features_main_item:hover {
  color: #000;
}
.features_main_link {
  text-align: center;
}
.features_main_link a {
  display: inline-block;
  padding: 18px 34px;
  background-color: #010025;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
.popular_main {
  padding-top: 45px;
  padding-bottom: 40px;
  background: url(../images/line_separator.png) bottom center no-repeat;
}
.popular_main_header {
  margin-bottom: 80px;
}
.popular_main_header h4 {
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.popular_main_item_block {
  border: 1px solid #f3f3f3;
  margin-bottom: 40px;
}
.popular_main_item_block_img {
  width: 100%;
  height: 233px;
  position: relative;
  z-index: 1;
}
.popular_main_item_block_img img {
  width: 100%;
  height: 100%;
}
.popular_main_item_block_img i {
  display: inline-block;
  z-index: 2;
  position: absolute;
  top: -5px;
  left: -2px;
  font-size: 50px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.popular_main_item_block_img .icon-xku51hQ7C4 {
  font-size: 40px;
  top: 0;
  left: 0;
}
.popular_main_item_block_img:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 75px solid #f3f3f3;
  border-right: 75px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.popular_main_item_block_type {
  min-height: 43px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f3f3;
  font-size: 18px;
  color: #000;
  padding-left: 30px;
}
.popular_main_item_block_desk {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.popular_main_item_block_desk li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 5px;
}
.popular_main_item_block_desk li .icon {
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-right: 12px;
  text-align: center;
}
.popular_main_item_block_desk li .icon i {
  font-size: 27px;
  display: inline-block;
}
.popular_main_item_block_desk li .icon .icon-vyKaH0adjA {
  font-size: 31px;
}
.popular_main_item_block_desk li .black {
  color: #000000;
  padding-top: 5px;
}
.popular_main_item_block_desk .location {
  margin-bottom: 20px;
}
.popular_main_item_block_desk .location .icon {
  padding-top: 5px;
}
.popular_main_item_block_desk .location .desk {
  border-bottom: 2px dashed #010025;
  padding-bottom: 5px;
  padding-top: 0;
}
.popular_main_item_block_price {
  color: #000000;
  text-transform: uppercase;
  min-height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f3f3;
}
.popular_main_item_block_price .price_block {
  font-size: 18px;
  font-weight: bold;
}
.popular_main_item_block_price .price_block > span {
  display: inline-block;
}
.popular_main_item_block_price a {
  display: inline-block;
  border-bottom: 2px dashed #010025;
}
.popular_main_item_block_price a:hover {
  text-decoration: none;
  border-bottom: 2px dashed #f3f3f3;
}
.text_main {
  padding-top: 47px;
  padding-bottom: 60px;
  background: #f8f6f6 url(../images/line_separator.png) bottom center no-repeat;
}
.text_main_header {
  padding-bottom: 70px;
}
.text_main_header h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.text_main_block_img {
  height: 425px;
  width: 100%;
}
.text_main_block_img img {
  width: 100%;
  height: 100%;
}
.text_main_block_content p {
  padding-bottom: 30px;
  line-height: 1.7em;
  margin: 0;
}
.text_main_link {
  display: inline-block;
  padding: 15px 24px;
  background-color: #010025;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}
.footer {
  padding-top: 70px;
  padding-bottom: 60px;
}
.footer_gray {
  background-color: #fbfbfb;
}
.footer_logo {
  margin-bottom: 35px;
}
.footer_logo a {
  display: inline-block;
  height: 151px;
  width: 151px;
}
.footer_logo a span {
  display: inline-block;
  text-indent: -10000px;
}
.footer_contacts {
  padding-bottom: 80px;
}
.footer_contacts a {
  display: inline-block;
  text-decoration: underline;
  padding-bottom: 10px;
}
.footer_contacts a:hover {
  text-decoration: none;
  color: #000;
}
.footer_copyright {
  margin-bottom: 20px;
}
.footer_copyright span {
  display: block;
  word-spacing: -0.1em;
}
.footer_social {
  font-size: 0px;
}
.footer_social a {
  display: inline-block;
  color: #a7a6b3;
  width: 45px;
  height: 45px;
  font-size: 45px;
  margin-right: 10px;
}
.footer_social a:hover {
  text-decoration: none;
  color: #010025;
}
.main_footer_links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main_footer_links > li {
  position: relative;
  padding-left: 13px;
  padding-bottom: 3px;
}
.main_footer_links > li:before {
  content: "*";
  position: absolute;
  left: 0;
  font-weight: bold;
}
.main_footer_links > li a {
  text-decoration: underline;
}
.main_footer_links > li a:hover {
  text-decoration: none;
}
.footer_links_type h6 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
.footer_links_type > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_links_type > ul > li {
  position: relative;
  padding-left: 13px;
  padding-bottom: 3px;
}
.footer_links_type > ul > li:before {
  content: "*";
  position: absolute;
  left: 0;
  font-weight: bold;
}
.footer_links_type > ul > li a {
  text-decoration: underline;
}
.footer_links_type > ul > li a:hover {
  text-decoration: none;
}
.footer_links_regions {
  margin-bottom: 30px;
}
.footer_links_regions h6 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
.footer_links_regions > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_links_regions > ul > li {
  position: relative;
  padding-left: 13px;
  padding-bottom: 3px;
}
.footer_links_regions > ul > li:before {
  content: "*";
  position: absolute;
  left: 0;
  font-weight: bold;
}
.footer_links_regions > ul > li a {
  text-decoration: underline;
}
.footer_links_regions > ul > li a:hover {
  text-decoration: none;
}
.footer_links_regions > ul > li {
  padding-left: 0;
}
.footer_links_regions > ul > li:before {
  content: "";
  display: none;
}
.footer_links_regions > ul > li:last-child a {
  text-decoration: none;
}
.footer_links_regions > ul > li:last-child a:hover {
  text-decoration: underline;
}
.footer_dev_link {
  padding-top: 50px;
}
.footer_dev_link a {
  color: #280e00;
}
.footer_dev_link a span {
  display: inline-block;
  margin-bottom: 10px;
}
.breadcrumb {
  background-color: transparent;
  padding: 18px 0;
  margin-bottom: 30px;
}
.breadcrumb a {
  color: #9f9e9e;
  font-size: 18px;
}
.catalog_products_header {
  padding: 35px 0;
  margin-bottom: 45px;
}
.catalog_products_header h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #00003e;
  font-size: 24px;
  text-align: center;
}
.catalog_products_header_similar {
  margin-bottom: 17px;
}
.catalog_products_header_similar h3 {
  padding: 15px 0;
  margin: 0;
  text-transform: uppercase;
  color: #010025;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #f4f4f4;
}
.catalog_products_items_left {
  padding-right: 0;
}
.catalog_products_items_left .catalog_products_item {
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}
.catalog_products_items_left .catalog_products_item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
.catalog_products_items_right {
  padding-left: 0;
}
.catalog_products_items_right .catalog_products_item {
  border-top: 1px solid #cdcdcd;
  padding-left: 15px;
}
.catalog_products_items_right .catalog_products_item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
.catalog_products_item:hover {
  background-color: #e6e6e6;
}
.catalog_products_item h5 {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 20px 0;
  height: 15px;
  overflow: hidden;
}
.catalog_products_item .link {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 15px;
}
.catalog_products_item .link a {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
}
.catalog_products_item_block {
  height: 177px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-right: 20px;
}
.catalog_products_item_block .img_wrapp {
  width: 263px;
  height: 177px;
  display: inline-block;
  margin-right: 25px;
}
.catalog_products_item_block .img_wrapp img {
  width: 100%;
  height: 100%;
}
.catalog_products_item_block .text_wrapp {
  display: inline-block;
  vertical-align: top;
  width: 277px;
}
.catalog_products_item_block .text_wrapp .price_block {
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 13px;
}
.catalog_products_item_block .text_wrapp .price_block > span {
  display: inline-block;
}
.catalog_products_item_block .text_wrapp .location {
  margin-bottom: 13px;
  font-size: 0px;
  display: inline-block;
  width: 100%;
}
.catalog_products_item_block .text_wrapp .location .icon {
  padding-top: 5px;
  display: inline-block;
  font-size: 36px;
  margin-right: 5px;
}
.catalog_products_item_block .text_wrapp .location .desk {
  display: inline-block;
  padding-top: 0;
  border-bottom: 1px dashed #010025;
  font-size: 14px;
}
.catalog_products_item_block .text_wrapp .type {
  padding-left: 5px;
  margin-bottom: 10px;
}
.catalog_products_item_block .text_wrapp .features {
  list-style: none;
  padding: 0;
  margin: 0;
}
.catalog_products_item_block .text_wrapp .features li {
  display: inline-block;
  margin-right: 15px;
  line-height: 1em;
  position: relative;
  padding-left: 20px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.catalog_products_item_block .text_wrapp .features li .icon {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.catalog_products_item_block .text_wrapp .features li .black {
  color: #000;
}
.catalog_pagination {
  padding-top: 45px;
  padding-bottom: 45px;
}
.catalog_pagination .pagination {
  margin: 0;
}
.catalog_pagination .pagination li a {
  border: none;
  border-radius: 0;
  padding: 2px 8px;
  color: #000;
}
.catalog_pagination .pagination .active a {
  background-color: #00a0c6;
  color: #fff;
}
.catalog_pagination .pagination .disabled a {
  cursor: text;
}
.catalog_similar_link {
  padding-top: 45px;
  text-align: center;
  padding-bottom: 45px;
  margin-bottom: 45px;
}
.catalog_similar_link a {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: underline;
}
.catalog_similar_link a:hover {
  text-decoration: none;
}
.main_product_info {
  margin-bottom: 20px;
}
.main_product_header h1 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
.main_product_info_desc {
  margin-bottom: 17px;
}
.main_product_info_desc .price_block {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1em;
}
.main_product_info_desc .price_block > span {
  display: inline-block;
}
.main_product_info_desc .price_block .favorites {
  margin-left: 130px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.main_product_info_desc .price_block .favorites > span {
  position: relative;
}
.main_product_info_desc .location {
  margin-bottom: 15px;
  font-size: 0px;
  display: inline-block;
  width: 100%;
}
.main_product_info_desc .location .icon {
  padding-top: 5px;
  display: inline-block;
  font-size: 43px;
  margin-right: 5px;
}
.main_product_info_desc .location .desk {
  display: inline-block;
  padding-top: 0;
  border-bottom: 1px dashed #010025;
  font-size: 18px;
}
.main_product_info_desc .type {
  margin-bottom: 16px;
}
.main_product_info_desc .type span {
  display: inline-block;
  font-size: 18px;
}
.main_product_info_desc .type .type_text {
  margin-right: 10px;
}
.main_product_info_desc .type .type_icon {
  line-height: 1em;
  position: relative;
  display: inline-block;
  padding-left: 40px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.main_product_info_desc .type .icon {
  position: absolute;
  top: 0;
  left: 0;
}
.main_product_info_desc .type .icon i {
  font-size: 25px;
}
.main_product_info_desc .features {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main_product_info_desc .features li {
  display: inline-block;
  margin-right: 15px;
  line-height: 1em;
  position: relative;
  padding-left: 45px;
  padding-top: 5px;
  margin-bottom: 5px;
  margin-right: 60px;
}
.main_product_info_desc .features li .icon {
  font-size: 30px;
  position: absolute;
  top: -8px;
  left: 0;
}
.main_product_info_desc .features li .black {
  color: #000;
}
.main_product_info_desc .features .icon_off {
  padding-left: 0px;
}
.active_favorites {
  display: none;
  color: #df0024;
}
.active_favorites img {
  margin-right: 5px;
}
.active_favorites span {
  display: none;
  position: absolute;
  color: #010025;
  width: 240px;
  z-index: 1;
  line-height: 1.2em;
  left: -230px;
  top: -60px;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
  border: 1px solid #d0d0d0;
  padding: 10px 10px 10px 5px;
  -moz-box-shadow: -2px 4px 6px #ebebeb;
  -webkit-box-shadow: -2px 4px 6px #ebebeb;
  box-shadow: -2px 4px 6px #ebebeb;
}
.active_favorites span:before {
  position: absolute;
  content: "";
  z-index: 3;
  right: 0;
  bottom: -13px;
  width: 0;
  height: 0;
  border-top: 13px solid #ffffff;
  border-left: 30px solid transparent;
}
.active_favorites span:after {
  position: absolute;
  content: "";
  z-index: 2;
  right: -1px;
  bottom: -14px;
  width: 0;
  height: 0;
  border-top: 14px solid #d0d0d0;
  border-left: 31px solid transparent;
}
.active_favorites:hover > span {
  display: block;
}
.deactive_favorites span {
  display: none;
  position: absolute;
  z-index: 1;
  line-height: 1.2em;
  right: -90px;
  top: -60px;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
  width: 100px;
  border: 1px solid #d0d0d0;
  padding: 5px 10px;
  -moz-box-shadow: -2px 4px 6px #ebebeb;
  -webkit-box-shadow: -2px 4px 6px #ebebeb;
  box-shadow: -2px 4px 6px #ebebeb;
}
.deactive_favorites span:before {
  position: absolute;
  content: "";
  z-index: 3;
  left: 0;
  bottom: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid #ffffff;
  border-right: 23px solid transparent;
}
.deactive_favorites span:after {
  position: absolute;
  content: "";
  z-index: 2;
  left: -1px;
  bottom: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid #d0d0d0;
  border-right: 25px solid transparent;
}
.deactive_favorites:hover > span {
  display: block;
}
.description_info_list {
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  font-size: 0px;
  margin-bottom: 15px;
}
.description_info_list > ul {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 13px;
  padding-top: 6px;
  vertical-align: top;
}
.description_info_list > ul > li {
  margin-bottom: 4px;
}
.description_info_list > ul > li .dt {
  text-decoration: underline;
  display: inline;
}
.description_info_list > ul > li .dd {
  display: inline-block;
}
.description_info_list > ul > li .dd:before {
  padding: 0 5px;
  color: #010025;
  content: "\2014";
}
.description_info_list > ul > li > ul {
  list-style-type: disc;
}
.description_info_list .list_short {
  width: 33.9%;
}
.description_info_list .list_long {
  width: 66.1%;
  border-left: 1px solid #d0d0d0;
}
.description_list_second {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  list-style: none;
  margin-bottom: 15px;
}
.description_list_second > li {
  margin-bottom: 4px;
}
.description_list_second > li span {
  display: inline-block;
}
.description_list_second > li .dt {
  margin-right: 7px;
}
.description_list_infrastructure {
  padding-left: 15px;
  margin-bottom: 15px;
}
.description_list_infrastructure h6 {
  font-size: 14px;
  font-weight: bold;
}
.description_list_infrastructure ul {
  list-style-image: url(../images/check.png);
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.info_slider_main_img {
  width: 100%;
  height: 455px;
  margin-bottom: 23px;
}
.info_slider_main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.info_slide_img_nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.info_slide_img_nav li {
  width: 165px;
  height: 153px;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
}
.info_slide_img_nav li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.info_slide_img_nav li:nth-of-type(3n) {
  margin-right: 0;
}
.main_product_control {
  margin-bottom: 50px;
}
.main_product_control_button {
  display: inline-block;
  width: 196px;
  padding: 14px 10px;
  text-align: center;
  background-color: #fff;
  position: relative;
  background-color: #00a0c6;
  color: #fff;
  margin-right: 60px;
  cursor: pointer;
}
.main_product_control_button .footnote {
  display: inline-block;
  position: absolute;
  top: -10px;
  right: -30px;
  color: #000;
  width: 20px;
  height: 20px;
  background-color: #dadada;
  border: 1px solid #b9b8b8;
  border-radius: 10px;
  vertical-align: top;
}
.main_product_media {
  margin-bottom: 70px;
}
.main_product_media_video {
  height: 340px;
}
.main_product_media_video iframe {
  width: 100%;
  height: 100%;
}
.main_product_media_map {
  height: 340px;
}
.main_product_media_map iframe {
  width: 100%;
  height: 100%;
}
.viewed {
  background: url(../images/line_separator.png) bottom center no-repeat;
}
.viewed_header {
  margin-bottom: 20px;
}
.viewed_header h4 {
  padding: 15px 0;
  margin: 0;
  text-transform: uppercase;
  color: #010025;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #f4f4f4;
}
.viewed_main_item {
  border: 1px solid #c1c1c1;
}
.viewed_main_item a {
  display: block;
}
.viewed_main_item_img {
  height: 165px;
  width: 100%;
}
.viewed_main_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.viewed_main_item_text {
  font-size: 18px;
  font-weight: bold;
  display: block;
  background-color: #f7f7f7;
  padding-left: 17px;
  padding-top: 7px;
  padding-bottom: 6px;
  height: 41px;
  overflow: hidden;
}
.viewed_link {
  padding-top: 45px;
  text-align: center;
  padding-bottom: 45px;
  margin-bottom: 45px;
  margin-bottom: 0;
}
.viewed_link a {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: underline;
}
.viewed_link a:hover {
  text-decoration: none;
}
.article_header_block {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 60px;
}
.article_header_block .date {
  display: inline-block;
  color: #a9a9ad;
  font-size: 18px;
  margin-right: 20px;
}
.article_header_block h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
.announcements_header_block {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 60px;
}
.announcements_header_block .date {
  display: inline-block;
  color: #a9a9ad;
  font-size: 18px;
  margin-right: 20px;
}
.announcements_header_block h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
.announcements_header_block h3 {
  font-size: 24px;
  text-transform: uppercase;
}
.announcements_link {
  padding-bottom: 90px;
  padding-top: 20px;
  text-align: center;
}
.announcements_link a {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: underline;
}
.announcements_link a:hover {
  text-decoration: none;
}
.article_main {
  line-height: 1.7em;
  padding-bottom: 90px;
  background: url(../images/line_separator.png) bottom center no-repeat;
}
.article_main p {
  margin-bottom: 20px;
}
.text_block_left_img {
  margin-bottom: 10px;
}
.text_block_left_img img {
  width: 458px;
  height: 392px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
.text_block_right_img {
  margin-bottom: 10px;
}
.text_block_right_img img {
  width: 458px;
  height: 392px;
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
}
.text_block_no_img {
  margin-bottom: 10px;
}
.announcements_item {
  padding-bottom: 25px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 30px;
  padding-top: 10px;
  height: 270px;
}
.announcements_item .img_wrapp {
  height: 235px;
}
.announcements_item .img_wrapp img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.announcements_item_text h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  line-height: 1em;
  margin-bottom: 10px;
}
.announcements_item_text .date {
  color: #c1c1c1;
  display: block;
  margin-bottom: 10px;
}
.announcements_item_text p {
  height: 147px;
  overflow: hidden;
  margin-bottom: 12px;
}
.announcements_item_text a {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: underline;
}
.announcements_item_text a:hover {
  text-decoration: none;
}
.announcements_pagination {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-top: 0;
}
.announcements_pagination .pagination {
  margin: 0;
}
.announcements_pagination .pagination li a {
  border: none;
  border-radius: 0;
  padding: 2px 8px;
  color: #000;
}
.announcements_pagination .pagination .active a {
  background-color: #00a0c6;
  color: #fff;
}
.announcements_pagination .pagination .disabled a {
  cursor: text;
}
.popup_favorites {
  width: 31%;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-bottom: none;
  padding: 10px 19px;
  position: fixed;
  bottom: 0;
  right: 13px;
  border-radius: 13px 13px 0 0;
  z-index: 1;
  display: none;
}
.popup_favorites_count {
  display: inline-block;
  font-weight: bold;
  margin-right: 5%;
}
.popup_favorites_link {
  display: inline-block;
  text-decoration: underline;
  margin-right: 5%;
  font-size: 11px;
}
.popup_favorites_link:hover {
  text-decoration: none;
}
.popup_favorites_button {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  cursor: pointer;
  color: #ffffff;
  background-color: #00a0c6;
}
.popup_favorites_close {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 2;
  cursor: pointer;
  font-weight: bold;
}
.catalog_history_header {
  padding-top: 45px;
  padding-bottom: 45px;
}
.catalog_history_header_block {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-size: 24px;
  margin: 0;
  position: relative;
}
.catalog_history_button {
  color: #00a0c6;
  font-size: 14px;
  text-transform: none;
  position: absolute;
  right: 7%;
  top: 0;
  cursor: pointer;
  text-decoration: underline;
  display: none;
}
.catalog_history_main {
  display: none;
}
.catalog_history_main_content {
  margin-bottom: 50px;
}
.catalog_slider_main_img {
  width: 100%;
  height: 340px;
  margin-bottom: 20px;
}
.catalog_slider_main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.catalog_slide_img_nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.catalog_slide_img_nav li {
  width: 142px;
  height: 113px;
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}
.catalog_slide_img_nav li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.catalog_slide_img_nav li:nth-of-type(3n) {
  margin-right: 0;
}
.catalog_history_text {
  position: relative;
}
.catalog_history_text a {
  display: inline-block;
  padding-top: 18px;
  text-transform: uppercase;
  text-decoration: underline;
}
.catalog_history_text a:hover {
  text-decoration: none;
}
.catalog_history_text_main {
  max-height: 437px;
  overflow: hidden;
}
