@form-color:          #000;
@form-background:     #fff;
@form-border:         1px solid #ccc;
@form-height:         40px;
@form-group-margin:   20px;
@form-padding:        5px 10px;


.form {
	&-group {
		margin-bottom: @form-group-margin;
	}
	&-control {
		display: block;
		width: 100%;
		height: @form-height;
		padding: @form-padding;
		background-color: @form-background;
		border: @form-border;
		color: @form-color;
		&:focus {

		}
		&::placeholder {

		}
	}
	&-radio {

	}
	&-checkbox {

	}
	&-file {

	}
}
.catalog_search {
	.row {
		border-bottom: 1px solid #c1c1c1;
	}
	
	form {
		input {
			border: 1px solid #7f7f7f;
			border-radius: 0px;
			height: 30px;
			color: #828282;
		}
		select {
			border: 1px solid #7f7f7f;
			border-radius: 0px;
			height: 30px;
			color: #828282;
		}
	}
}

.catalog_search_form_button {
	text-align: center;
	padding-bottom: 40px;

	button {
			font-size: 18px;
			font-weight: bold;
			border-radius: 0px;
			text-transform: uppercase;
			background-color: #089abd;
			border: none;
			padding: 12px 30px;
	}
}
.catalog_search_form_tabs {
	margin-bottom: 35px;
	span {
		display: inline-block;
		font-size: 18px;
		text-transform: uppercase;
		padding-bottom: 15px;
		margin-right: 65px;
		&.active {
			font-weight: bold;
			background-image: linear-gradient(to right, black 15%, rgba(255,255,255,0) 0%);
			background-position: bottom;
			background-size: 13px 1px;
			background-repeat: repeat-x;
		}
		&:hover {
			cursor: pointer;
		}
	}
}
.form_group_select {
	display: inline-block;
	margin-bottom: 15px;
	.form_group_select_block {
		margin-bottom: 30px;
	}
> div {
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 5%;
	&:nth-child(3n) {
		margin-right: 0;
	}
}
	
}
.form_group_input {
	vertical-align: top;
	.form_group_select;
	display: block;

}

.form_group_input_string {
	width: 265px;
h6 {
		display: inline-block;
		font-size: 14px;
	}
	 input {
		width: 115px;
		padding-left: 8px;
	}
	.input_block {
		width: 265px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
	}
	
}
.form_group_select_block {
	width: 265px;
	position: relative;

	border: 1px solid #8e8e8e;
	&:after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 5px 10px 0;
  background: #010025;
  pointer-events: none;
  color: #fff;
}
	select {
		width: 100%;
		-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  padding-left: 5px;
	
	}
}

.form_group_input_two {

	margin-bottom: 25px;
	input {
		width: 115px;
		padding-left: 8px;
	}
	h6 {
		margin: 0;
		margin-bottom: 14px;
		font-size: 14px;
		color: #000;
	}

	.input_block {
		width: 265px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
	}
	
}
.form_group_input_two_last {
	position: relative;
	top: -50px;
}
.form_group_input_string_short {
	width: 265px;
}
.input_block_short_wrapp {
	font-size: 0;

	.input_block_short {
		font-size: 14px;
			margin-right: 13%;
		&:nth-child(2n) {
		margin-right: 0;
	}

	}
}
.input_block_short {
	width: 115px;
	display: inline-block;
	input {
		width: 115px;
		padding-left: 8px;
	}
	h6 {
		font-size: 14px;
	}
	}

.form_group_input_checkbox {
	input {
		width: 115px;
		padding-left: 8px;
	}
	h6 {
		margin: 0;
		margin-bottom: 14px;
		font-size: 14px;
		color: #000;
		margin-top: -10px;
	}

	.input_block {
		width: 265px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
	}
}
.form_block_full {
		display: none;
	}

div.form_group_checkbox {
	padding-top: 40px;
	width: 61%;
	margin: 0;
	.checkbox_grop {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
		vertical-align: top;
		display: inline-block;
		width: 160px;
		line-height: 1em;
		margin-bottom: 15px;
		margin-right: 7%;
		&:nth-child(3n) {
		margin-right: 0;
		margin-left: 10px;
		width: 155px;
		}
		span {
			display: inline-block;
			margin-left: 5px;
			height: 100%;
			vertical-align: top;
			color: #010101;
		}
		}
		
		}
	}

input[type=checkbox].css-checkbox {
	display: none;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding: 0;
	margin: 0;
	min-height: 15px;
	width: 15px;
	display:inline-block;
	line-height: 0;
	font-size: 0;
	background-repeat:no-repeat;
	background-position: 0 0;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -16px;
}
label.css-label {
	background-image:url(../images/mark.png);
	background-repeat: no-repeat;
}

.catalog_search_control_list_block {
	display: flex;
	flex-direction: row;
	padding-left: 15px;
	padding-top: 30px;
	margin-bottom: 55px;
	h5 {
		font-size: 18px;
		display: inline-block;
		color: #818080;
		margin: 0;
		margin-right: 12px;
	}
	ul {
		list-style: none;
		padding: 0;
		display: flex;
	flex-direction: row;
		margin: 0;

		li {
			font-size: 18px;
			color: #363664;
			text-decoration: underline;
			cursor: pointer;
			margin-right: 10px;
			vertical-align: top;
			line-height: 1em;
		}
	}
}
.catalog_prices_search_form {
	margin-bottom: 45px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	input {
			border: 1px solid #7f7f7f;
			border-radius: 0px;
			height: 30px;
			color: #828282;
			width: 115px;
    padding-left: 8px;
		}
		select {
			border: 1px solid #7f7f7f;
			border-radius: 0px;
			height: 33px;
			color: #828282;
			margin-right: 15px;
		}
		.form_group_input_string {
			width: 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	h6 {
		display: inline-block;
	}
		}
}
.catalog_prices_tabs {
	padding-bottom: 100px;
}
.catalog_prices_tabs_block {
	.catalog_search_form_tabs;
	> span {
		text-transform: none;
		color: #838396;
}
	span.active {
		color: @gc;
	}
}
		span.catalog_prices_tabs_bookmark {
			color: #00a0c6;
			margin-right: 0;
			position: relative;
			z-index: 3;
				.tooltip_tabs {
					display: none;
					margin-right: 0;
					color: #000;
					background-color: #e6e6e6;
			position: absolute;
			z-index: 4;
			line-height: 1.2em;
			right: -110px;
			top: -60px;
			font-size: 12px;
			text-transform: none;
			font-weight: normal;
			width: 130px;
			border: 1px solid #d0d0d0;
			padding: 5px 10px;
			-moz-box-shadow: -2px 4px 6px #ebebeb;
			-webkit-box-shadow: -2px 4px 6px #ebebeb;
			box-shadow: -2px 4px 6px #ebebeb;
			&:before {
			position: absolute;
			content: "";
			z-index: 3;
			left: 0;
			bottom: -19px;
			width: 0;
			height: 0;
			border-top: 19px solid #e6e6e6; 
			border-right: 23px solid transparent;	
			}
			&:after {
			position: absolute;
			content: "";
			z-index: 2;
			left: -1px;
			bottom: -20px;
			width: 0;
			height: 0;
			border-top: 20px solid #d0d0d0; 
			border-right: 25px solid transparent;	
				}
			}
			&:hover > span {
		display: block;
	}
		}



		.sel {
  display: inline-block;
  cursor: pointer;
}

.sel__placeholder {
  display: block;
  color: #838e95;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
  padding-top: 5px;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: 100%;
  border: 1px solid #8e8e8e;
  left: -1px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #FFF;
  width: 265px;
  box-sizing: border-box;
  padding: 10px 10px 10px 15px;
  z-index: 4;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-size: 12px;
  color: #838e95;
  padding-left: 35px;
  user-select: none;
  position: relative;
}

.sel__box__options::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  background: url(../images/mark2.png) 0 0 no-repeat;
  width: 9px;
  height: 9px;
}

.sel__box__options.selected::after {
  display: block;
   background: url(../images/mark3.png) 0 0 no-repeat;
}

/*.sel__box__options:hover {
  background-color: #ebedef;
}*/

/* ----- Select Box Black Panther ----- */

.sel--black-panther {
  z-index: 3;
}
.sel--black-panther.active {
  z-index: 4;
}

/* ----- Select Box Superman ----- */

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.wrapper_filter {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
    display: none;
}
.closfon {
	 background-color: rgba(0, 0, 0, 0.7);
	position:fixed;
	height:100%;
	width:100%;
	left:0px;
	top:0px;
	z-index:11;
	cursor: pointer;
	display:block;
}
.closfon2 {
	 background-color: rgba(0, 0, 0, 0.7);
	position:fixed;
	height:100%;
	width:100%;
	left:0px;
	top:0px;
	z-index:11;
	cursor: pointer;
	display:none;
}
.form_main {
	display: block;
	width: 720px;
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	z-index: 12;
	text-align: center;
	top: 0;
	> form {
		padding: 35px 45px;
	}
	legend {
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		color: #000033;
		border-bottom: none;
		padding-bottom: 9px;
		margin-bottom: 30px;
	}
}
.form_main.form_main_short  {
	width: 400px;
	position: relative;
	top: 2300px;
}

.form_field_top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	.error {
		display: inline-block;
		position: absolute;
		top: -30px;
		font-size: 10px;
		text-transform: uppercase;
		color: #cc0033;
		right: 0;
		left: 0;
		&:before {
				content: "*";
				color: #cc0033;
				padding-right: 5px;
			}
	}
	.form-group	{
		width: 195px;
		text-align: left;
		margin-bottom: 10px;
		label {
			font-size: 12px;
			font-weight: normal;
			line-height: 1em;
			margin-bottom: 8px;
			&:before {
				content: "*";
				color: #cc0033;
				padding-right: 5px;
			}
		}
		input {
			height: 30px;
			width: 100%;
			padding: 0 10px;
			border: 1px solid #999999;
		}
	}
}
.form_main_short {
	
	form {
		padding: 0;
	}
	.form_main_short_form_wrapp {
		padding: 35px 50px 40px;
		background-color: #ededed;
		position: relative;

		.close_inf {
		color: #3399cc;
		display: inline-block;
		position: absolute;
		bottom: 10px;
		left: 50px;
		cursor: pointer;
		font-size: 12px;
		}
	}
	.form_main_short_form_wrapp2 {
		padding: 0 50px 0;
		background-color: #fff;
		display: none;
	}
	.form_field_top {
		.form-group {
			width: 300px;
			margin-bottom: 5px;
			input {
				background-color: #fff;
				font-size: 11px;
			}
		}
	}
	.additional_information {
		font-size: 11px;
	}
	.additional_information_main_wrapp {
		display: block;
		button {
			margin-bottom: 40px;
			padding-left: 47px;
			padding-right: 47px;
		}
	}
	.additional_information_block {
		.form-group {
			input {
				background-color: #fff;
				font-size: 11px;
			}
			h5 {
				font-size: 12px;
		    font-weight: bold;
		    margin-top: 0;
		    margin-bottom: 5px;
			}
			h6 {
				margin-left: 45px;
				margin-bottom: 7px;
			}

		}
		
		.form-group_dd {
			font-size: 12px;
			color: #3399cc;
			cursor: pointer;
			line-height: 1em;
			margin-bottom: 5px;
			span {
					border-bottom: 1px dashed #3399cc;
					display: inline-block;
			}
		}
		.form-group_dd.opened {
			font-weight: bold;
		}
		.form-group_checkbox {
			padding-left: 45px;
			margin-bottom: 10px;
		}
		.form-group_checkbox.inline {
			margin-bottom: 10px;
			padding-left: 0;
		}
	}
	.form-group_hidden {
		display: none;
		.input_group {
			margin-bottom: 20px;
			textarea{
				height: 100px;
				width: 100%;
				padding: 5px;
				font-size: 11px;
			}
		}
	}
	.form-group_hidden.opened {
		display: block;
	}
}

.success_input {
	background:  url(../images/success.png) right center no-repeat;
}
.form_message__note {
	display: block;
	font-size: 10px;
	font-style: italic;
	color: #000000;
	text-align: left;
	margin-bottom: 25px;
	> span {
		color: #be0014;
	}
}
.additional_information {
	color: #3399cc;
	text-align: left;
	line-height: 1.3em;
	border-bottom: 1px dashed #999999;
	padding-bottom: 7px;
	cursor: pointer;
}
.additional_information.opened {
	color: #999999;
}
.additional_information_main_wrapp {
	display: none;
	> button {
		color: #fff;
		font-size: 12px;
		background-color: #000033;
		text-transform: uppercase;
		border: none;
		padding: 10px 80px;
	}
}
.additional_information_main {
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
	.close_inf {
		color: #3399cc;
		display: inline-block;
		position: absolute;
		bottom: 30px;
		cursor: pointer;
	}
}
.additional_information_block {
	width: 300px;
	text-align: left;
	display: inline-block;
	margin-bottom: 10px;
	
	
	.form-group {
	 > input {
			width: 100%;
			height: 28px;
			padding: 0 5px;
		}
		h6 {
			font-size: 12px;
			font-weight: bold;
			margin-top: 0;
		}
	}
	.input_group {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
			flex-wrap: wrap;
		input {
			height: 28px;
			width: 138px;
			padding: 0 5px;
			font-size: 11px;
		}

		.input_wrapp {
			display: inline-block;
			margin-bottom: 13px;
			input {
				width: 122px;
			}
			span {
				width: 20px;
				display: inline-block;
				height: 20px;
				text-indent: -9999px;
				background:  url(../images/calendar.png) 0 0 no-repeat;
				margin-left: 7px;
			}
		}
		.full {
		width: 100%;
	}
	}
	.input_group.small {
			input {
				font-size: 10px;
			}
		}
}
.form-group_checkbox {
	margin: 0;
	padding: 0;
	list-style: none;
li {
	line-height: 1.3em;

	span {
		font-size: 12px;

	}
}
	input[type=checkbox].css-checkbox + label.css-label {
	min-height: 10px;
	width: 9px;
	margin-right: 5px;
	}
	input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -10px;
	}
	label.css-label {
	background-image:url(../images/mark4.png);

	}
	input[type=radio].css-checkbox {
		display: none;
	}
	input[type=radio].css-checkbox + label.css-label {
	min-height: 10px;
	width: 9px;
	margin-right: 5px;
	margin-bottom: 0;
	}
	input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -10px;
	}
	label.css-label {
	background-image:url(../images/mark4.png);

	}
}
.form-group_checkbox.hiddens {
	margin-bottom: 50px;
}
.form-group_checkbox.inline {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin-bottom: 20px;
	li {
		display: inline-block;
	}
}
.form-group_checkbox.color {
	justify-content: flex-start;
	li {
		margin-right: 10px;
		span {
			text-decoration: underline;
		}
	}
	input[type=radio].css-checkbox:checked + label.css-label + span {
	color: #3399cc;
	}
}
.form_main_selected {
	padding: 20px 50px;
	background-color: #ededed;
}
.form_main_selected_header {
	h4 {
		font-size: 18px;
		font-weight: bold;
		color: #000033;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 45px;
	}
}
.form_main_selected_link {
	display: block;
	background-color: #79b5d9;
	color: #000000;
	text-transform: uppercase;
	font-size: 12px;
	padding: 6px;
	margin-bottom: 40px;
}
.form_main_selected_button {
	color: #fff;
		font-size: 12px;
		background-color: #000033;
		text-transform: uppercase;
		border: none;
		padding: 10px 80px;
		margin-bottom: 15px;
}
.form_main_selected_block {
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	.form_selected_item {
	width: 300px;
	height: 417px;
	border: 1px solid #818181;
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
	h5 {
		margin-top: 27px;
		margin-bottom: 10px;
		font-size: 12px;
		text-align: left;
		padding-left: 15px;
	}
	.item_close_hidden {
		font-size: 22px;
    height: 16px;
    width: 16px;
	}
}
.form_selected_item_cover {

	position: absolute;
	left: -1px;
	top: -1px;
	width: 100%+3px;
	height: 100%+3px;
	z-index: 3;
	background-color: rgba(237, 237, 237, 0.8);
	text-align: center;
	display: none;

	> span {
		display: inline-block;
		margin-top: 63%;
		width: 265px;
		margin-right: 5px;
		font-size: 14px;
		text-transform: uppercase;
		cursor: pointer;
		padding: 10px;
		color: #fff;
		background-color: rgba(0, 0, 51, 0.6)
	}
}
.catalog_products_item_block {
	display: block;
	height: 337px;
	padding: 0 15px;
}

.form_selected_item .img_wrapp {
	width: 265px;
  height: 177px;
  margin: 0;
  margin-bottom: 15px;
}
.catalog_products_item_block .text_wrapp {
	text-align: left;
	font-size: 12px;
	width: 265px;

}
.catalog_products_item_block .text_wrapp .price_block {
	font-size: 14px;
	margin-bottom: 9px;
	font-weight: bold;
}
.catalog_products_item_block .text_wrapp .location {
	margin-bottom: 9px;
}
.catalog_products_item_block .text_wrapp .location .icon {
font-size: 30px;
padding-top: 0;
}
 .catalog_products_item_block .text_wrapp .location .desk {
 	font-size: 12px;
 }
 .catalog_products_item_control { 
	top: 4px;
  right: 17px;
 }
 .catalog_products_item .link {
 	padding: 0;
 	padding-right: 15px;
 }
.catalog_products_item .favorites {
	top: 42px;
}
.catalog_products_item .favorites > span {
	font-size: 14px;
}
}